<div ng-controller="contactCtrl" class="container contact-container">

	<div class="form-group contactform">
		<label>Deine Nachricht</label>
		<textarea class="form-control contact-margin" name="nachricht" rows="5" ng-model="user.nachricht"></textarea>

		<label>Deine Emailadresse</label>
		<input type="text" name="email" class="form-control contact-margin" ng-model="user.email">	
		<p ng-show="errorEmail" class="help-block">{{errorEmail}}</p>

	</div>

	<button type="submit" class="btn btn-primary btn-block contact-margin" data-toggle="modal" data-target="#modal">Senden</button>

	<div id="modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">The Answer from the Server</h4>
					</div>
					<div class="modal-body">
						<p>{{message.nachricht}}</p>
						<p>Die Emailadresse des Absenders: {{message.email}}</p>		
					</div>
	aa{{message.nachricht}}
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

</div>































