<div ng-controller="formularCtrl">
	
	<div class="form-buch-img">  <!--ng-controller="buchGefuehlCtrl">-->
		<img src="{{selectedBuch.imgUrl}}" alt="kein Bild" class="book-image">
		<div class="text-book">
			<p><b>{{selectedBuch.titel}}</b></>
			<p>{{selectedBuch.autor}}</p>
			<p>{{selectedBuch.erscheinungsjahr}}</p>
		</div>		
	</div>

	<div class="list formular" ng-submit="submitForm()">

		<p>Bestellformular</p>
		
		<label class="item item-input">
			<input type="text" name="vorname" placeholder="Vorname" ng-model="user.vorname" required>
		</label>
		<p ng-show="errorVorname" class="">{{errorVorname}}</p>	

		<label class="item item-input">
			<input type="text" name="nachname" placeholder="Nachname" ng-model="user.nachname">				
		</label>
		<p ng-show="errorNachname" class="">{{errorNachname}}</p>

		<label class="item item-input">
			<input type="text" name="strasse" placeholder="Strasse" ng-model="user.strasse">			
		</label>
		<p ng-show="errorStrasse" class="">{{errorStrasse}}</p>

		<label class="item item-input">
			<input type="text" name="hausnummer" placeholder="Hausnummer" ng-model="user.hausnummer">			
		</label>
		<p ng-show="errotHausnummer" class="">{{errorHausnummer}}</p>

		<label class="item item-input">
			<input type="text" name="plz" placeholder="Postleitzahl" ng-model="user.plz">		
		</label>
		<p ng-show="errorPlz" class="">{{errorPlz}}</p>

		<label class="item item-input">
			<input type="text" name="stadt" placeholder="Stadt" ng-model="user.stadt">			
		</label>
		<p ng-show="errorStadt" class="">{{errorStadt}}</p>

		<label class="item item-input">
			<input type="text" name="land" placeholder="Land" ng-model="user.land">			
		</label>
		<p ng-show="errorLand" class="">{{errorLand}}</p>

		<label class="item item-input">
			<input type="text" name="email" placeholder="Email" ng-model="user.email">			
		</label>
		<p ng-show="errorEmail" class="">{{errorEmail}}</p>

		<form class="radio-kreditkarte">
		 	<input type="radio" ng-model="user.karte" ng-value="visa" name="kreditkarte" value="visa"> &nbsp;Visa &nbsp;&nbsp;
		  	<input type="radio" ng-model="user.karte" ng-value="master" name="kreditkarte" value="master"> &nbsp;Mastercard
		</form>
		<p ng-show="errorKarte" class="">{{errorKarte}}</p>

		<label class="item item-input">
			<input type="text" name="kartennr" placeholder="Kreditkartennummer" ng-model="user.kartennr">			
		</label>
		<p ng-show="errorKartennummer" class="">{{errorKartennummer}}</p>

		<label class="item item-input">
			<input type="text" name="pruefziffer" placeholder="Prüfziffer" ng-model="user.pruefziffer">			
		</label>
		<p ng-show="errorPruefziffer" class="">{{errorPruefziffer}}</p>

		
		<button type="submit" class="button button-block button-balanced" data-toggle="modal" data-target="#modal">Senden</button>
		
	</div>
<!--
	<div id="modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">The Answer from the Server</h4>
				</div>
				<div class="modal-body">
					<table>
						<tr>
							<th>Name</th>
							<td>{{message.vorname}}&nbsp;{{message.nachname}}</td>
						</tr>
						<tr>
							<th rowspan="3">Adresse</th>
							<td>{{message.strasse}}&nbsp; {{message.hausnummer}}</td>>
						</tr>
						<tr>		
							<td>{{message.plz}}&nbsp; {{message.stadt}}</td>
						</tr>
						<tr>
							<td>{{message.land}}</td>>
						</tr>
						<tr>
							<th>Email</th>
							<td>{{message.email}}</td>
						</tr>
						<tr>
							<th>Kreditkarte</th>
							<td>{{message.karte}}</td>
						</tr>
						<tr>
							<th>Kartennummer</th>
							<td>{{message.kartennr}}</td>
						</tr>
						<tr>
							<th>Prüfziffer</th>
							<td>{{message.pruefziffer}}</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
-->
</div>

		
































