<div class="div-gefuehle">
  
  <p id="message2">Heute bin ich</p>
  
  <div class="row row-gefuehle">
    <div class="col">
      <p id="p-glueck">Glücklich</p>
      <a href="#buecher"><img src="images/gluecklich2.jpg" alt="gücklich" class="gefuehl-image" ng-click="selectGefuehl(1);"></a>
    </div>
    <div class="col">
      <p id="p-traurig">Traurig</p>
      <a href="#buecher"><img src="images/traurig3.jpg" alt="traurig" class="gefuehl-image" ng-click="selectGefuehl(2);"></a>
    </div>
  </div>

  <div class="row row-gefuehle" id="row-gefuehle-second">
    <div class="col">
      <p id="p-abenteuer">Abenteuerlustig</p>
      <a href="#buecher"><img src="images/abenteuer3.jpg" alt="abenteuerlustig" class="gefuehl-image" ng-click="selectGefuehl(3);"></a>
    </div>
    <div class="col">
      <p id="p-wuetend">Wütend</p>
      <a href="#buecher"><img src="images/wuetend3.jpeg" alt="wütend" class="gefuehl-image" ng-click="selectGefuehl(4);"></a>
    </div>
  </div> 

</div>

