body{
	background-color: rgb(180, 230, 255);
}

#message1{
	font-size: 12px;
	margin-top: 18px;
	text-align: center;
}

#message2{
	font-size: 36px;
	color: white;
}

#p-glueck{
	color: pink;
}

#p-traurig{
	color: blue;
}

#p-abenteuer{
	color: yellow;
}

#p-wuetend{
	color: red;
}

#p-glueck, #p-traurig, #p-abenteuer, #p-wuetend{
	font-size: 30px;
}

.div-gefuehle{
	margin: auto;
	margin-top: 100px;
	text-align: center;
	font-family: 'Brush Script MT', cursive;
}

.gefuehl-image{
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

#row-gefuehle-second{
	margin-top: 50px;
}

.item .item-thumbnail-left{
	width: 30px;
	height: auto;
}

.bar-hheader{
	position: fixed;
	top: 0;
	height: 50px;
}

.bar-ffooter{
	position: fixed;
	bottom: 0;
	height: 50px;
}

.list-books{
	margin-top: 60px;
	padding-bottom: 60px;
}

.list-books img{
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

.list-books a{
	text-decoration: none;
}

.text-books{
	height: 120px;
	padding-left: 20px;
	color: black;
	padding-top: 20px;
}

.text-books p{
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 20px; 
}

.formular{
	clear: both;
	margin-top:10px;
	padding-bottom: 60px;
}

.book-image{
	width: auto;
	height: 120px;
	margin-right: 60px;
	margin-left: 20px; 
}

.form-buch-img{
	margin-top: 60px;
	height: 120px;
	background-color: rgb(180, 230, 255);
}

.form-buch-img .text-book{
	padding-top: 20px;
}

.form-buch-img img{
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

.form-buch-img p{
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 20px;
}

.radio-kreditkarte{
	background-color: white;
	padding-bottom: 7px;
	padding-top: 7px;
	padding-left: 10px;
	color: rgba(0, 0, 0, 0.4);;
}

.contactform{
	margin-top: 80px;
	text-align: center;
}

.contactform textarea, .contactform input{
	display: block;
	margin: auto;
	width: 60%;
}

.contactform textarea{
	margin-bottom: 20px;
}

#button-contactform{
	display: block;
	margin: auto;
	width: 60%;
	margin-top: 30px;
}






























